# Python Day - 01

## Print Command

In [ ]:
print("Hello World")  #(string)

In [5]:
print(45)  #(integer)

45

In [6]:
print(45.6)  #(float)

45.6

In [7]:
type("123")  #to determine type

str

In [8]:
type(45)

int

In [9]:
print('a')   #single quote string

a

In [10]:
print("This is ahmed's bag")    # if apostophie is required in a statement then we use double quotations

This is ahmed's bag

In [11]:
print

In [12]:
print()  # Click shift + Tab for information of arguments required

In [13]:
print("hi",123,23.44) # Multiple arguments in a print command , comma is used to enter multiple values

hi 123 23.44

In [15]:
print('hi',123,33, sep='    ==   ')   # sep- seperator is a bulitin function but we  can use this fucntion according to our desire

hi    ==   123    ==   33

In [16]:
print('Hello PIAIC')
print('Hello Karachi')           # using bulitin function of end \n
print('Hello Pakistan')

Hello PIAIC
Hello Karachi
Hello Pakistan

In [18]:
print('Hello PIAIC', end='  ')                 # Changing \n builtin by using end command
print('Hello Karachi',end='\t')
print('Hello Pakistan')

Hello PIAIC  Hello Karachi	Hello Pakistan

In [19]:
print(2+5)

7

In [20]:
print('2')

2

In [21]:
print(str(2))   # Type casting or wrapping

2

In [22]:
print(str(2)+'hello') # Concatenate two strings

2hello

In [26]:
print(2+int('100'))   #concatenate two intergers

102

In [28]:
name='Hamza'
age=22
print('my name is name and my age is age')

my name is name and my age is age

In [30]:
name='Hamza'
age=22
print('my name is '+name+ ' and my age is '+str(age))      #formatting

my name is Hamza and my age is 22

In [34]:
print('my name is {} and my age is {}'.format(name,age) )   # Curly brackets are place holders, used to put any value in it

my name is Hamza and my age is 22

In [35]:
print('my name is {} and my age is {}'.format(0,1) )   # Curly brackets are place holders, used to put any value in it

my name is 0 and my age is 1

In [36]:
print('my name is {0} and my age is {1}'.format(name,age) )   # Curly brackets are place holders, used to put any value in it

my name is Hamza and my age is 22

In [37]:
print('my name is {1} and my age is {0}'.format(name,age) )   # Curly brackets are place holders, used to put any value in it

my name is 22 and my age is Hamza

In [38]:
print(f'my name is {name} and my age is {age}')  # Print without format command just by placing 'f' letter before statement

my name is Hamza and my age is 22

##  Variable Definition

In [40]:
a=10

In [41]:
type(a)

int

In [42]:
a= False

In [43]:
type(a)

bool

In [44]:
print('Hello'*4)

HelloHelloHelloHello

In [45]:
print(4*'Hello')

HelloHelloHelloHello

In [47]:
print('Hello'*1)

Hello

In [48]:
a=10
b=10
c=a+b

In [49]:
c

20

In [50]:
a=10
b=10                # Single slash for float division
c=a/b

In [51]:
c

1.0

In [52]:
a=10
b=10             # Double Slash for integer division
c=a//b
c

1

In [54]:
a=10
b=3             #round off
c=a/b
print(c)
round(c,3)

3.3333333333333335

3.333

In [58]:
a=100
b=2             #round off
c=a/b*b-a
print(c)
round(c,3)

0.0

0.0